@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

*{
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #FAFAFA;
    color:black;
}

.container{
    padding:0 16px;
}

.dark-mode{
    background-color:#202C36;
    color:white;
}

@media (min-width:1440px)
{
    .container{
        padding: 0 80px;
    }
}