@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

*{
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

.container{
    padding:0 16px;
}