.search-container{
    display:flex;
    flex-direction: column;
    gap:40px;
}
@media (min-width:768px)
{
    .search-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}